@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Cutive Mono';
  background-color: #e6e6e6;
  margin-bottom: 50px;
}

/* Header */

header .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header{
  font-size: 36px;
  margin: 30px;
  display: flex;
  align-items: center; 
  padding: 0 10px;
  margin-bottom: 50px;
  margin-top: 30px;
}

header .your-birthday, header .your-catbreed {
  flex: 1;
}

.lucide-cat {
  flex-shrink: 0;
}

/* Question Pop Up */
.question-container {
  position: fixed; 
  right: 20px; 
  bottom: 20px; 
  display: inline-block;
  z-index: 1000; 
}

.popup-message {
  display: none; 
  position: absolute;
  right: 0; 
  bottom: 100%; 
  margin-bottom: 5px;
  width: 350px;
  padding: 20px;
  background-color: #212121;
  color:#e6e6e6;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 300;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.popup-message li{
  margin-bottom: 15px;
}

.popup-message ol{
  padding: 10px;;
  padding-left: 20px;
  list-style-type: decimal;
}

.question-mark {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
  height: 50px;
  margin-top: 10px;
  margin-right: 20px;
  transition: transform 0.5s ease;
}

.question-container img:hover {
  cursor:pointer;
  transform: translateY(-10px);
}

.lucide-cat{
  margin-left: 10px;
  align-self: center;
}

/* Middle Section, DOB, Image, Desc */

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px; 
  max-width: 350px;
  margin-left: 50px;
  margin-right: 50px;
  
}
.birthday{
  display: flex;
  flex-direction:column;
}
.typebirth{
  font-size: 26px;
  margin: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.middleimage{
  width: auto;
  height: 240px;
  margin: 40px;
  border: 1px solid black;
  border-radius: 10%;
}

.desc{
  margin-bottom: 30px;
  border: 1px solid #212121;
  padding: 20px;
}
.DOB, .submiticon{
  display: flex;
  line-height: 30px;
  justify-content: center;
  align-self: center;
  
}

input{
  margin:10px;
  height: 30px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #212121 ;
}


.submiticon{
  margin:10px;
  height: 30px;
  background-color: #212121;
  color:#e6e6e6;
  text-align: center;
  font-size: 18px;
  font-family: Cutive Mono;
  border-radius: 30%;
  transition: opacity 0.5s;
  transition: transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.submiticon:hover{
  opacity: 0.5; 
  background: rgba(0, 0, 0, 0.5); 
  cursor:pointer;
  transform: translateY(-10px);
  
}

.welcome-title{
  text-align: center;
  font-size: 25px;
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
  background-color: #3e3e3e;
  color: #e6e6e6;
  padding: 5px;
}

/* Cat Images and Text */

.cat-groups img {
  height: 120px;
  width: auto;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10%;
}

.cat-groups2 img {
  height: 120px;
  width: auto;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10%;
}

.cat-groups img, .cat-groups2 img {
  height: 120px;
  width: auto;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10%;
  transition: opacity 0.5s;
  transition: transform 0.5s ease;
}

.cat-groups img:hover, .cat-groups2 img:hover {
  opacity: 0.3; 
  background: rgba(0, 0, 0, 0.5); 
  cursor:pointer;
  transform: translateY(-10px);
}

.cat-text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cat-groups-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.cat-groups, .cat-groups2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
}

.cat-groups{
  margin-left: 120px;
}

.cat-groups2{
  margin-right: 120px;
}

.cat-groups div, .cat-groups2 div {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .cat-groups, .cat-groups2 {
      grid-template-columns: repeat(2, 1fr); /* 2 images per row */
  }
}

@media (max-width: 480px) {
  .cat-groups-container {
      flex-direction: column;
  }

  .cat-groups, .cat-groups2 {
      width: 100%;
      grid-template-columns: 1fr;
      align-items: center;
      margin: 0;
  }
}
